<html>
  <head>
    <title>Address Book</title>
  </head>
  <body>
    <h1>You Successfully added a new contact!</h1>
    <h3>{{newcontact.getName}}</h3>
    <h3><a href='/'>View Contact List</a></h3>
  </body>
</html>
